.important-text {
    display:inline-block;
    font-weight: bold;
}

.ui-search {
    display:inline-block;
    position:relative;
    vertical-align: top;
    background-color: white;
    padding: 3px;

    width : 20px;
    left: 0px;
}

.ui-search-magnifier {
    display:inline-block;
    position: relative;
    
}

.ui-search-appearance {
    display:none;
    position :relative
}
.ui-search-input {
    display:inline-block;
}

.ui-search-input-box {
    width: 100px;
}

.ui-search-button {
    display: inline-block;

}

.open {
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    width : 140px;
    left: -120px;
    -webkit-transition: left 2s, width 2s;
    transition: left 2s, width 2s;
}

.open > .ui-search-appearance{
    display: inline-block;
}