.ui-zone {
    width:100px;
    height: 100px;
}

.ui-input:focus + .ui-input-label{
    width: 100px;
    height: 95px;
    font-size: 5px;
    color : red;
}
.ui-input:focus{
    font-size: 14px;
}

.ui-input {
    width: 100px;
    height: 75px;
    color: black;
    
    
}
.ui-input-label {
    font-size: 45px;
    color: green;
}
